<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(WXT_APP_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.business</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>用于视频通话中的本地画面预览与实时视频。</string>
	<key>NSFaceIDUsageDescription</key>
	<string>用于按你的设置保护会话与企业文件预览。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>用于录制并发送语音消息，以及进行一对一语音和视频通话。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>用于将聊天中的图片和视频保存到相册。</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>WXTAPNsEnvironment</key>
	<string>$(APS_ENVIRONMENT)</string>
	<key>WXTAccessDiagnosticsOverlayCompiled</key>
	<string>YES</string>
	<key>WXTAccessDiscoveryAppID</key>
	<string>$(WXT_ACCESS_DISCOVERY_APP_ID)</string>
	<key>WXTAccessDiscoveryChannel</key>
	<string>$(WXT_ACCESS_DISCOVERY_CHANNEL)</string>
	<key>WXTAccessDiscoveryEnvironment</key>
	<string>$(WXT_ACCESS_DISCOVERY_ENVIRONMENT)</string>
	<key>WXTAccessDiscoveryProductID</key>
	<string>$(WXT_ACCESS_DISCOVERY_PRODUCT_ID)</string>
	<key>WXTAccessDiscoveryPublicKeys</key>
	<dict/>
	<key>WXTAccessDiscoveryPublicKeysJSON</key>
	<string>$(WXT_ACCESS_DISCOVERY_PUBLIC_KEYS_JSON)</string>
	<key>WXTAccessDiscoveryRecoveryRootKeyID</key>
	<string>$(WXT_ACCESS_DISCOVERY_RECOVERY_ROOT_KEY_ID)</string>
	<key>WXTAccessDiscoveryRecoveryRootPublicKeyB64</key>
	<string>$(WXT_ACCESS_DISCOVERY_RECOVERY_ROOT_PUBLIC_KEY_B64)</string>
	<key>WXTAccessDiscoverySigningRequired</key>
	<string>$(WXT_ACCESS_DISCOVERY_SIGNING_REQUIRED)</string>
	<key>WXTAppBootstrapBackupBaseURL</key>
	<string>$(WXT_APP_BOOTSTRAP_BACKUP_BASE_URL)</string>
	<key>WXTAppBootstrapBaseURL</key>
	<string>$(WXT_APP_BOOTSTRAP_BASE_URL)</string>
	<key>WXTAppBootstrapBaseURLs</key>
	<array>
		<string>$(WXT_APP_BOOTSTRAP_BASE_URL_1)</string>
		<string>$(WXT_APP_BOOTSTRAP_BASE_URL_2)</string>
	</array>
	<key>WXTAppRuntimeID</key>
	<string>$(WXT_APP_RUNTIME_ID)</string>
	<key>WXTAppVariant</key>
	<string>$(WXT_APP_VARIANT)</string>
	<key>WXTBuildIdentity</key>
	<string>$(WXT_BUILD_IDENTITY)</string>
	<key>WXTFormalBuild</key>
	<string>$(WXT_FORMAL_BUILD)</string>
	<key>WXTPreloginBootstrapAppID</key>
	<string>$(WXT_PRELOGIN_APP_ID)</string>
	<key>WXTPreloginBootstrapArtifactPublicKeys</key>
	<dict/>
	<key>WXTPreloginBootstrapArtifactPublicKeysJSON</key>
	<string>$(WXT_PRELOGIN_ARTIFACT_PUBLIC_KEYS_JSON)</string>
	<key>WXTPreloginBootstrapChannel</key>
	<string>$(WXT_PRELOGIN_CHANNEL)</string>
	<key>WXTPreloginBootstrapEnabled</key>
	<string>$(WXT_PRELOGIN_BOOTSTRAP_ENABLED)</string>
	<key>WXTPreloginBootstrapEnvironment</key>
	<string>$(WXT_PRELOGIN_ENVIRONMENT)</string>
	<key>WXTPreloginBootstrapProductID</key>
	<string>$(WXT_PRELOGIN_PRODUCT_ID)</string>
	<key>WXTPreloginBootstrapRecoveryRootKeyID</key>
	<string>$(WXT_PRELOGIN_RECOVERY_ROOT_KEY_ID)</string>
	<key>WXTPreloginBootstrapRecoveryRootPublicKeyBase64</key>
	<string>$(WXT_PRELOGIN_RECOVERY_ROOT_PUBLIC_KEY_B64)</string>
	<key>WXTPreloginBootstrapSources</key>
	<array/>
	<key>WXTPreloginBootstrapSourcesJSON</key>
	<string>$(WXT_PRELOGIN_SOURCES_JSON)</string>
	<key>WXTSourceCommit</key>
	<string>$(WXT_SOURCE_COMMIT)</string>
</dict>
</plist>
